<% if @user.nil? %>
    <%= render 'shared/user_not_found' %>
<% else %>
<%= provide(:title, @user.username) %>
  <div class="col-xs-s2 col-sm6 col-md-10">
	<h2 class="col-md-3">
    Overview for <%= @user.username%>
    <hr></hr>
    </h2>
  </div>
<%= render 'shared/user_sidebar'%>
<% end %>
