<div class="container">
  <div class="col-md-4">
  <%= form_for(@comment, :url => subreddit_post_comments_path(:subreddit_id, :post_id), :method => :post) do |c| %>
    <%= render 'shared/error_messages', :object => c.object %>
    <div class="field">
      <%= c.text_area :content, :placeholder => "Submit a comment..." %>
  </div>
  <%= c.submit "submit", :class => "btn btn-small btn-primary" %>
  <% end %>
</div>
