


<div class="large-3 columns">
<div class="panel">
<p>Look at this panel</p>
</div>
<div class="custom-panel">
<br/>
<br/>
<%= link_to "Submit a link post!", new_link_post_path  %>
<br/>
<br/>
</div>
<br/>
<br/>
</div>
