<div class="row">
<div class="col-xs-6 col-sm-2">
<div class="list-group">
<a href="<%= new_subreddit_path %>" class="list-group-item">
<h4 class="list-group-item-item"> Start a new subreddit!</h4>
</a>
<a href="#" class="list-group-item">
<h4 class="list-group-item-heading" >Be nice to each other</h4>
<p class="list-group-item-text">Don't forget to love, brotha!</p>
</a>
<a href="<%= new_link_post_path %>" class="list-group-item">
<h4 class="list-group-item-heading" >Submit a link post!</h4>
</a>
<a href="<%= new_text_post_path %>" class="list-group-item">
<h4 class="list-group-item-heading" >Submit a text post!</h4>
</a>
<a href="#" class="list-group-item">
<h4 class="list-group-item-heading">Read the rules!</h4>
<p class="list-group-item-text">Follow the rules!</p>
</a>
</div>
</div>
</div>
