<div class="large-3 columns">
<div class="panel">
<p>Look at this panel</p>
</div>
<div class="custom-panel">
<%= link_to "Start a new subreddit!", new_subreddit_path  %>
<br/>
<br/>
<%= link_to "Submit a link post!", new_link_post_path  %>
<br/>
<br/>
<%= link_to "Submit a text post!", new_text_post_path  %>
</div>
<br/>
<br/>
</div>
