 <div class="row">
<div class="col-xs-6 col-sm-2">

<a href="#" class="list-group-item">
<h3 align="center"><%= @user.username%></h3>
</a>

<a href="#" class="list-group-item">
<h3 class="btn btn-default" >0</h3><h2 class="btn btn-small">link karma</h2>
</a>

<a href="#" class="list-group-item">
<h3 class="btn btn-default">0</h3><h2 class="btn btn-small">comment karma</h2>
</a>
 </div>
</div>
