 <div class="row">
<div class="large-3 columns">
<div class="panel callout">
<h3 align="center"><%= @user.username%></h3>
</div>
<div class="panel ">
<h2><%=@link_karma%> link karma</h2>
</div>
<div class="panel ">
<h2><%=@comment_karma%> comment karma</h2>
</div>
 </div>
</div>
