
@import "foundation_and_overrides";
@import "foundicons";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #B5B5B5;
$grayDarker: #2E2E2E;
$grayLighter: #EBEBEB;
$green: #00BA22;
$orange: #e37a33;
$blue: #009DFF;
$purple: #2D1D3B;
$blueLight: #6E8BFF;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */

html {
  overflow-y: scroll;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.top-bar{
    height: 50px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .top-bar-section li:not(.has-form) a:not(.button) {
        padding: 0 10px;
    }
}

.row .row {

    margin-bottom: 10px;
}

.custom-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#2BB6E0,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
}

.description-box {
  @include panel(
  $bg:#BDBDBD,
  $padding:20px,
  $adjust:true
  );
}

sidebar {
    font-size: 20px;
    font-color: white;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}
/* subreddit sidebar */

.sub-button {

    border: 1px solid #E3E3E3;
    
}

/* links */

.jumbotron {
   padding-top: 50px;
   margin-left: auto;
   padding-bottom: 50px;
   margin-bottom: 10px;
   background-color: #D4D4D4;
}

.karma-content {
    margin-top: 10px;
}

.post-title {
  background-color:transparent;
  color: $green;
  &:hover {
        color: $green;
        background-color: transparent;
  }
  &:visited {
    color: $purple !important;
  } 


}

.link-title {
    color: $blue;
    &:hover {
        background-color: transparent;
        color: $blueLight;
    }
    &:visited {
        color: $purple;
    }
}
/* comments */

.links-comments {
    color: $grayDarker;
    font: 15px bold;
    font-weight: 900;
    font-family: monospace;
}

.comment-container {
    border: 1px solid #E3E3E3;
    padding-bottom: 10px;
    padding-top: 10px;

}
/* arrow color */

.blue {
    color: blue;
}
.orange {
    color: $orange;
}
.red {
    color: red;
}
.green {
    color: green;
}

/* typography */

.comment-content {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 40px;
}

.blueUser {
    color: $blueLight;
    &:hover {
        background-color: transparent;
        color: $blueLight;
    }

    font-weight: bold;
}

.karmaUser {
    color: $grayLight;
    font-weight: bold;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align:center;
  font-weight: normal;
  color: $grayLight;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.comments {
    font-size:small;
}
/* MOTD */

.motd {
    background-color: #D5DFE8;
    padding-bottom: 20px;
    padding-top: 20px;

    //margin: 0px;
    //width:100%;

}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $grayDarker;
    text-decoration: none;
    background-color: transparent;
  }
}

small {
    font-size: 80%;
}

/* footer */

footer {
  margin-top: 45px;
  margin-left: 10px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    &:hover {
      background-color: $grayLight;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}




/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* zurb icons */

@font-face {
  font-family: '[set]Foundicons';
  src: url('fonts/[set]_foundicons.eot');
  src: url('fonts/[set]_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/[set]_foundicons.woff') format('woff'),
       url('fonts/[set]_foundicons.ttf') format('truetype'),
       url('fonts/[set]_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
 
[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
