<% if @subreddit.nil? %>
    <%= render 'shared/not_found' %>
<% else %>
<br/>
<div class= "row">
        <h2 class="large-8 columns">Subreddit's content</h2>
        <div class="large-8 columns">
        <% if @post %>

            <%= render @post %>
            <%= will_paginate @post %>
        <% end %>
        </div>
    <%= render 'shared/subreddit_sidebar' %>
    </div>
<% end %>
