<% if @subreddit.nil? %>
    <%= render 'shared/not_found' %>
<% else %>
<br/>
<div class= "row">
        <h2 class="large-9 columns">Subreddit's content</h2>
        <div class="large-9 columns">
        <% if @posts %>

            <%= render @posts %>
            <%= will_paginate @posts %>
        <% end %>
        </div>
    <%= render 'shared/subreddit_sidebar' %>
    </div>
<% end %>
